body {
    background: #151515;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#game {
    width: 800px;
    background: #262626;
    border-radius: 15px;
    padding: 25px;
}

h1 {
    text-align: center;
}

#log {
    margin-top: 20px;
    height: 250px;
    background: black;
    overflow-y: auto;
    padding: 15px;
    font-family: monospace;
}

button {
    padding: 12px 18px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    transform: scale(1.05);
}

#characters {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: #333;
    padding: 15px;
    border-radius: 10px;
}

.health-bar {
    height: 25px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
}

#playerHealthBar, #enemyHealthBar {
    height: 100%;
    width: 100%;
    background: green;
}

#actions {
    text-align: center;
    margin-top: 20px;
}

#creationArea{
    display:flex;
    gap:40px;
}


#classInfo{
    width: 300px;
    text-align:left;
}


#creationControls{
    flex:1;
}


#portrait{
    font-size:40px;
    margin:20px;
}

#classDescription{
    font-size: 14px;
}


.classButton.selected{
    background:gold;
    color:black;
    border: 3px solid white;
    transform: scale(1.05);
}

#confirmClassButton{
    display: none;
    padding: 12px 20px;
}

#beginAdventureButton{
    display: none;
    margin-top: 15px;
}